:global(#app) {
  .menu {
    margin: 8px auto 0;
    max-height: 60vh;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
    }
  }
}
