.controls {
  margin-top: 4px;
}

.field {
  border: none;
  border-radius: 3px !important;
  box-shadow: 0 1px 0 #ccc !important;
  color: #333 !important;
  outline: none !important;
  overflow: hidden !important;
  width: 100% !important;
}

.field:focus {
  border-color: #298fca;
  box-shadow: 0 0 2px #298fca;
}

.submitButton {
  min-height: 30px;
  vertical-align: top;
}

.wrapper {
  background: #e2e4e6;
  border-radius: 3px;
  padding: 4px;
  transition: opacity 40ms ease-in;
  width: 272px;
}
