.filter {
  display: inline-block;
  line-height: 0 !important;
  margin-right: 16px;
}

.filterButton {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 0;
}

.filterItem {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  margin-right: 4px;
  max-width: 190px;
  vertical-align: top;
}

.filterLabel {
  background: #2d3034;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  padding: 2px 8px;
}

.filterLabel:hover {
  opacity: 0.75;
}

.filterTitle {
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  padding: 2px 12px;
}

.filters {
  line-height: 0 !important;
  margin-bottom: 12px;
}
