.addButton {
  background: transparent !important;
  color: #fff !important;
  margin-right: 0 !important;
  vertical-align: top !important;
}

.addButton:hover {
  background: rgba(34, 36, 38, 0.3) !important;
}

.editButton {
  background: transparent !important;
  box-shadow: none !important;
  color: #fff !important;
  line-height: 32px !important;
  margin-right: 0 !important;
  opacity: 0;
  padding: 0 !important;
  position: absolute;
  right: 2px;
  top: 2px;
  width: 32px;
}

.editButton:hover {
  background: hsla(0, 0%, 100%, 0.08) !important;
}

.link {
  color: #fff !important;
  display: block;
  line-height: 20px;
  padding: 10px 34px 6px 14px;
  text-overflow: ellipsis;
  max-width: 400px;
  overflow: hidden;
}

.tab {
  border-radius: 3px 3px 0 0;
  min-width: 100px;
  position: relative;
  transition: all 0.1s ease;
}

.tab:hover {
  background: hsla(0, 0%, 0%, 0.24) !important;
}

.tab:hover .target {
  opacity: 1 !important;
}

.tabActive {
  background: hsla(0, 0%, 0%, 0.24) !important;
}

.tabActive:hover {
  background: hsla(0, 0%, 0%, 0.32) !important;
}

.tabWrapper {
  display: flex;
  flex: 0 0 auto;
}

.tabs {
  border-bottom: 2px solid hsla(0, 0%, 0%, 0.24);
  display: flex;
  height: 38px;
  flex: 0 0 auto;
  white-space: nowrap;
}

.wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
