*/README.md
*/.gitignore
*/node_modules

**/.DS_Store

server/**/.gitkeep

server/.env
server/.editorconfig
server/.eslintignore
server/.npmrc
server/test
server/logs
server/.venv
server/.tmp

server/views/*

server/public/*
!server/public/preloaded-favicons
!server/public/favicons
server/public/favicons/*
!server/public/user-avatars
server/public/user-avatars/*
!server/public/background-images
server/public/background-images/*

server/private/*
!server/private/attachments
server/private/attachments/*

client/dist
