**/.DS_Store

*/node_modules

server/swagger.json
server/.env

server/dist
server/logs
server/test
server/.tmp
server/.venv

server/views/index.html

server/data/*
!server/data/.gitkeep

server/terms/*
!server/terms/_template
!server/terms/cloud

client/dist
