.controls {
  clear: both !important;
  margin-top: 6px !important;
}

.field {
  background: #fff !important;
  border: 1px solid rgba(9, 30, 66, 0.08) !important;
  border-radius: 3px !important;
  color: #17394d !important;
  display: block !important;
  line-height: 1.5 !important;
  font-size: 14px !important;
  margin-bottom: 4px !important;
  overflow: hidden;
  padding: 8px 12px !important;
  resize: none !important;
}

.wrapper {
  margin-top: 6px !important;
  padding-bottom: 8px !important;
}
