.controls {
  clear: both;
  margin-top: 6px !important;
}

.field {
  background: #fff !important;
  border: 1px solid rgba(9, 45, 66, 0.13) !important;
  border-radius: 3px !important;
  box-sizing: border-box !important;
  color: #17394d !important;
  display: block !important;
  font-size: 14px !important;
  line-height: 1.5 !important;
  overflow: hidden !important;
  padding: 8px 12px !important;
  resize: none !important;
}

.field:focus {
  outline: none;
}

.wrapper {
  padding: 9px 32px 16px 40px;
}
