.field {
  border: none;
  border-color: #bbb !important;
  border-radius: 3px !important;
  color: #17394d !important;
  display: block !important;
  font-weight: bold !important;
  line-height: 20px !important;
  margin: 0 !important;
  outline: none !important;
  overflow: hidden !important;
  padding: 4px 8px !important;
  resize: none !important;
  /* word-break: break-all !important; */
  width: 100% !important;
}

.field:focus {
  background: #fff !important;
  border-color: #5ba4cf !important;
  box-shadow: 0 0 0 1px #5ba4cf !important;
}
