.toggleButton {
  background: transparent !important;
  box-shadow: none !important;
  color: #6b808c !important;
  font-weight: normal !important;
  margin-top: 8px !important;
  padding: 6px 11px !important;
  text-align: left !important;
  text-decoration: underline !important;
  transition: none;
}

.toggleButton:hover {
  background: rgba(9, 30, 66, 0.08) !important;
  color: #092d42 !important;
}
