.menuItem {
  display: block !important;
  margin: 0 !important;
  padding: 4px !important;
}

.menuItemActive {
  background: transparent !important;
}

.menuItemActive:hover {
  background: rgba(0, 0, 0, 0.05) !important;
}

.menuItemText {
  display: inline-block !important;
  line-height: 32px !important;
  width: calc(100% - 40px) !important;
}

.menuItemTextActive:before {
  bottom: 2px;
  color: #798d99;
  content: "Ð“";
  font-size: 18px;
  font-weight: normal;
  line-height: 36px;
  position: absolute;
  right: 2px;
  text-align: center;
  transform: rotate(-135deg);
  width: 36px;
}

.user {
  display: inline-block;
  line-height: 32px;
  padding-right: 8px;
  width: 40px;
}
