.actionsButton {
  background: none !important;
  box-shadow: none !important;
  border-radius: 3px !important;
  box-sizing: content-box;
  color: #798d99 !important;
  display: inline-block !important;
  margin: 0 !important;
  min-height: auto !important;
  opacity: 0;
  outline: none;
  padding: 4px !important;
  position: absolute;
  right: 2px;
  top: 2px;
  transition: background 85ms ease !important;
  width: 20px;
}

.actionsButton:hover {
  background: #ebeef0 !important;
  color: #516b7a !important;
}

.attachment {
  display: inline-block;
  line-height: 0;
  margin: 0 0 6px 0;
  max-width: 100%;
  vertical-align: top;
}

.attachmentLeft {
  margin-right: 4px;
}

.attachmentRight {
  margin-left: 2px;
}

.attachments {
  display: inline-block;
  padding-bottom: 2px;
}

.attachmentsRight {
  float: right;
  line-height: 0;
}

.card {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 #ccc;
  position: relative;
  cursor: pointer;
}

.card:hover {
  background-color: #f5f6f7;
  border-bottom-color: rgba(9, 30, 66, 0.25);
}

.card:hover .target {
  opacity: 1 !important;
}

.content {
  cursor: grab;
  display: block;
}

.content:after {
  content: "";
  display: table;
  clear: both;
}

.cover {
  border-radius: 3px 3px 0 0;
  vertical-align: middle;
}

.details {
  padding: 6px 8px 0;
}

.labels {
  display: block;
  max-width: 100%;
  overflow: hidden;
}

.name {
  color: #17394d;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 6px;
  word-wrap: break-word;
}

.notification {
  background: #eb5a46;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  padding: 0px 6px;
  border: none;
  border-radius: 3px;
  display: inline-block;
  outline: none;
  text-align: left;
  transition: background 0.3s ease;
  vertical-align: top;
}

.wrapper {
  display: block;
  margin-bottom: 8px;
}
