.controls {
  clear: both;
  margin-top: 6px;
}

.field {
  background: #fff !important;
  border: 0 !important;
  box-sizing: border-box;
  color: #333 !important;
  display: block;
  line-height: 1.5 !important;
  font-size: 14px !important;
  margin-bottom: 6px !important;
  overflow: hidden;
  padding: 8px 12px !important;
  resize: none !important;
  width: 100% !important;
}

.field:focus {
  outline: none;
}
