.controls {
  clear: both;
  margin-top: 6px;
}

.field {
  background: #fff !important;
  border: 1px solid rgba(9, 30, 66, 0.13) !important;
  border-radius: 3px !important;
  box-sizing: border-box;
  color: #333 !important;
  display: block;
  line-height: 1.4 !important;
  font-size: 14px !important;
  margin-bottom: 4px !important;
  overflow: hidden;
  padding: 8px 12px !important;
  resize: none !important;
  width: 100% !important;
}

.field:focus {
  outline: none;
}
