.button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 0;
}

.hoverable:hover {
  opacity: 0.75;
}

.wrapper {
  border: none;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  line-height: 1;
  outline: none;
  text-align: center;
  vertical-align: top;
}

.initials {
  margin: 0 auto;
  text-transform: capitalize;
}
