.cover {
  background: url("../../assets/images/cover.jpg") no-repeat center center;
  background-size: cover;
}

.descriptionSubtitle {
  font-size: 24px !important;
  font-weight: normal !important;
  margin-top: 8px !important;
}

.descriptionTitle {
  font-size: 52px !important;
  margin-bottom: 8px !important;
}

.descriptionWrapper {
  padding: 60px 0 0 80px;
  position: relative;
}

.descriptionWrapperOverlay {
  background-color: rgba(33, 33, 33, 0.5);
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.formTitle {
  font-size: 36px !important;
  font-weight: normal !important;
  margin-bottom: 32px !important;
}

.fullHeight {
  background-color: #fff;
  height: 100%;
}

.fullHeightPaddingFix {
  height: calc(100% + 1rem);
}

.inputLabel {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 4px;
}

.inputWrapper {
  margin-bottom: 16px;
}

.loginWrapper {
  margin: 0 auto;
  max-width: 440px;
  padding: 0 20px;
}

.wrapper {
  height: 100%;
  margin: 0;
  min-height: 100%;
}
