.colorButton {
  float: left;
  height: 40px;
  margin: 4px !important;
  padding: 0 !important;
  position: relative;
  width: 49.6px;
}

.colorButton:hover {
  opacity: 0.9;
}

.colorButtonActive:before {
  bottom: 3px;
  color: #ffffff;
  content: "Ð“";
  font-size: 18px;
  line-height: 36px;
  position: absolute;
  right: 6px;
  text-align: center;
  top: 0;
  transform: rotate(-135deg);
  width: 36px;
}

.colorButtons {
  margin: -4px;
  padding-bottom: 16px;
}

.colorButtons:after {
  content: "";
  display: table;
  clear: both;
}

.field {
  margin-bottom: 8px;
}

.text {
  color: #444444;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 6px;
}
