.editButton {
  background: transparent !important;
  box-shadow: none !important;
  flex: 0 0 auto;
  font-weight: normal !important;
  margin: 0 !important;
  padding: 8px 10px !important;
  text-decoration: underline !important;
}

.editButton:hover {
  background: #e9e9e9 !important;
}

.labelButton {
  color: #fff !important;
  flex: 1 1 auto;
  font-size: 14px !important;
  font-weight: bold !important;
  overflow: hidden;
  padding: 8px 32px 8px 10px !important;
  position: relative;
  text-align: left !important;
  text-overflow: ellipsis;
}

.labelButton:hover {
  opacity: 0.9;
}

.labelButtonActive:before {
  bottom: 1px;
  content: "Ð“";
  font-size: 18px;
  font-weight: normal;
  line-height: 36px;
  position: absolute;
  right: 2px;
  text-align: center;
  transform: rotate(-135deg);
  width: 36px;
}

.wrapper {
  display: flex;
  margin-bottom: 4px;
  max-width: 280px;
  white-space: nowrap;
}
