name: Build and Push Docker Nightly Image

on:
  push:
    paths-ignore:
      - '.github/**'
      - 'charts/**'
      - 'docker-*.yml'
      - '*.md'
    branches: [master]
  workflow_dispatch:

jobs:
  build-and-push-docker-nightly-image:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'

      - name: Update version with build number
        run: |
          npm version "$(node -p "require('./package.json').version")-nightly.$(git rev-list --count HEAD)" --no-git-tag-version
          npx --yes genversion --source . --template server/version-template.ejs server/version.js
          npx --yes genversion --source . --template client/version-template.ejs client/src/version.js

      - name: Install client dependencies
        run: npm install --omit=dev
        working-directory: ./client

      - name: Build client
        run: |
          DISABLE_ESLINT_PLUGIN=true npm run build
          mv dist build
        working-directory: ./client

      - name: Update Dockerfile to use prebuilt client
        run: |
          sed -i '/^FROM node:22 AS client/,/^  && DISABLE_ESLINT_PLUGIN=true npm run build$/c\
          FROM node:22 AS client\n\
          WORKDIR /app\n\
          COPY client/build /app/dist' Dockerfile
          cat Dockerfile

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate Docker image tags
        id: metadata
        uses: docker/metadata-action@v5
        with:
          images: |
            name=ghcr.io/${{ github.repository }}
          tags: |
            type=raw,value=nightly
          labels: |
            org.opencontainers.image.licenses=Fair Use License
            org.opencontainers.image.url=https://planka.app

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: true
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
